*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red, .green, .yellow{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.red{
    background-color: red;

}
.red-page{

    width: 500px;
    height: 500px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
    
.red-page-immagine{
    width: 100%;
    
}

.navigazione{
    float: right;
    margin: 50px;
    
    
}
a{
    padding: 10px;
    text-decoration: none;
    color:black;
    font-weight: bolder;
    
}


.red-navigazione-lista{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 50%;
    padding: 20px;
    margin: 20px;
    font-weight: bolder;
    
}


.green{
    background-color: green;
}

.green-page{
    width:500px;
    height: 500px;
    width: 500px;
    height: 500px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.green-page-immagine{
    width: 100%;
}

.yellow{
    background-color: yellow;
}

.yellow-page{
   width: 500px;
   height: 500px;
   width: 500px;
   height: 500px;
   padding: 20px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   
}

.yellow-page-immagine{
    width: 100%;
}